<h1 class="article-goback" (click)="openDesktopEmit()">Go Back</h1>
<app-article-form class="article__title" (articleAdded)="addArticle($event)" [availableGroups]="availableGroups" [availableSubGroups]="availableSubGroups"></app-article-form>
<app-article-list-component class="article__title-form" [articles]="articles"
              [availableGroups]="availableGroups"
              [availableSubGroups]="availableSubGroups"
              [foundArticles]="foundArticles"
              [isLoading]="isLoading"
              (articleDeleted)="deleteArticle($event)"
              (groupDeleted)="deleteGroupOrSubGroup({group: $event.group, subGroup: $event.subGroup})"
              (articleUpdated)="updateArticle($event)"
              (searchArticles)="searchArticles($event.searchInput, $event.searchByContent)"
              (cancelSearch)="cancelSearch()">
</app-article-list-component>
