<div class="harmonica">
  <h1 class="harmonica__goback" (click)="openDesktopEmit()">Go Back</h1>
  <div class="harmonica__top">
    <div class="harmonica__input-container">
      <textarea class="harmonica__textarea" [(ngModel)]="currentInput"></textarea>
      <p><button class="harmonica__button" (click)="addNotes()">Добавить</button></p>
    </div>
    <div class="harmonica__container">
      <button class="harmonica__button-notes-mode" (click)="isEngNotes = !isEngNotes">{{ isEngNotes ? 'ДоРеМи' : 'C D E' }}
      </button>
      <div class="harmonica__container-harmonica">
        <img class="harmonica__notes-image" src="assets/blow_notes.png" alt="blow notes">
        <div class="harmonica__body">
          <div class="harmonica__body-note_empty">Blow</div>
          <div class="harmonica__body-note"
               *ngFor="let blowNote of (isEngNotes ? blowNotes : blowNotesRus)">{{ blowNote }}
          </div>
          <div class="harmonica__body-note_empty"></div>
          <div class="harmonica__body-hole"></div>
          <div class="harmonica__body-hole" *ngFor="let number of Array(10).fill(0); index as i">{{ i + 1 }}</div>
          <div class="harmonica__body-hole"></div>
          <div class="harmonica__body-note_empty">Draw</div>
          <div class="harmonica__body-note"
               *ngFor="let drawNote of (isEngNotes ? drawNotes: drawNotesRus)">{{ drawNote }}
          </div>
          <div class="harmonica__body-note_empty"></div>
        </div>
        <img class="harmonica__notes-image" src="assets/draw_notes.png" alt="draw notes">
      </div>
    </div>
  </div>
  <div class="harmonica__tabs" *ngFor="let note of notes">{{ note.tabs }}</div>
</div>

