<div class="article-form">
  <div class="article-form__group">
    <label class="article-form__label">Section</label>
    <select [(ngModel)]="newArticle.group" (change)="filterSubGroups()"  class="article-form__select">
      <option *ngFor="let group of availableGroups" [value]="group.group" class="article-form__option">{{ group.group }}</option>
      <option value="" class="article-form__option">New section</option>
    </select>
    <input class="article-form__input" *ngIf="newArticle.group === ''" type="text" [(ngModel)]="newGroupName" placeholder="Section"/>
  </div>
  <div class="article-form__group">
    <label class="article-form__label">Subsection</label>
    <select [(ngModel)]="newArticle.subGroup" class="article-form__select">
      <option *ngFor="let subGroup of filteredSubGroups" [value]="subGroup.subGroup" class="article-form__option">{{ subGroup.subGroup }}</option>
      <option value="" class="article-form__option">New subsection</option>
    </select>
    <input *ngIf="newArticle.subGroup === ''" type="text" [(ngModel)]="newSubGroupName" placeholder="Subsection"
           class="article-form__input"/>
  </div>
  <div class="article-form__group">
    <input placeholder="Заголовок" type="text" [(ngModel)]="newArticle.title" class="article-form__input"/>
  </div>
  <div class="article-form__group">
    <button class="article-form__textarea-controls-bold-button"
            [ngClass]="{'article-form__textarea-bold-controls-clicked': isBoldText }" type="button"
            (click)="setBoldValue()">
      <b>B</b>
    </button>
    <div class="article-form__textarea-controls-input">
      <input type="text" placeholder="URL картинки" [(ngModel)]="imageUrlInput" class="article-form__input"/>
    </div>
    <button class="article-form__textarea-controls-button"
            type="button"
            (click)="addPicture()">
      <b>Add pic</b>
    </button>
  </div>
  <div class="article-form__group">
    <textarea cdkTextareaAutosize placeholder="Содержание" [(ngModel)]="newArticle.content" class="article-form__textarea"></textarea>
  </div>
  <div class="article-form__group">
    <label class="article-form__label">URL картинки (через запятые):</label>
    <input type="text" [(ngModel)]="imageUrlString" class="article-form__input"/>
  </div>
  <button class="article-form__submit-button" (click)="addArticle()">Добавить</button>
</div>
