.article-form {
  padding-bottom: 20px;
  position: relative;
  left: 5%;
  width: 95%;
  z-index: 100;
  background-color: #0d1117;

  &__group {
    margin-bottom: 10px;
    margin-left: 8px;
    display: flex;
  }

  &__group-title {
    margin-bottom: 10px;
    margin-left: 8px;
    width: 35vw;
    display: flex;
  }

  &__select {
    border: none;
    border-radius: 100px;
    padding: 5px 3rem 5px 16px;
    margin-left: 8px;
    max-width: 240px;
    height: 50%;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__input {
    border: none;
    border-radius: 100px;
    padding: 5px 3rem 5px 16px;
    margin-left: 8px;
    height: 50%;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__textarea-controls {
    position: sticky;
    top: 0;
    background-color: #0d1117;
    z-index: 9999;
    margin-left: 1.2vw;
    height: 55px;
  }

  &__textarea-controls-button {
    background-color: #238636;
    color: #ffffff;
    box-shadow: 0 1px 1px 0 #01040999, 0 1px 3px 0 #01040999;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    min-height: 2rem;
    cursor: pointer;
    height: 50px;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 20px;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__textarea-controls-bold-button {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: 2px solid #3d444d;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: #0d1117;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__textarea-controls-code-button {
    height: 3rem;
    cursor: pointer;
    border: 2px solid #3d444d;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: #0d1117;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.6vw;
  }

  &__textarea-bold-controls-clicked {
    background-color: #3d444d;
  }

  &__textarea-controls-input {
    margin-top: auto;
    margin-bottom: auto;
  }

  &__input-url {
    width: 30%;
  }

  &__textarea {
    border: 2px solid #44555D;
    width: 40vw;
    margin-left: 1vw;
    min-height: 15vh;
    padding: 5px 3rem 5px 16px;
    font-size: 1.2rem;
    line-height: 2.4rem;
    white-space: pre-wrap;
  }

  &__textarea-edit {
    width: 80vw;
  }

  &__checkbox {
    margin-left: 1vw;
  }

  ::ng-deep &__checkbox .mdc-form-field {
    color: #fff;
  }

  &__submit-button {
    background-color: #238636;
    color: #ffffff;
    box-shadow: 0 1px 1px 0 #01040999, 0 1px 3px 0 #01040999;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    min-height: 2rem;
    cursor: pointer;
    height: 50px;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 2vw;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    width: auto;
  }

  &__submit-button-edit {
    position: sticky;
    bottom: 1%;
    margin-left: -29%;
  }
}

.form-open-button {
  position: relative;
}

.background-blue {
  background-color: #388bfd1a;
  color: #4493f8;
}


