<form [formGroup]="group" class="article-form" *ngIf="formVisible">
  <div class="article-form__group">
    <label class="article-form__label">Section</label>
    <select [formControlName]="FIELDS.SELECTED_GROUP" (change)="onSelectedGroupChange()" class="article-form__select">
      <option class="article-form__option" value="" [defaultSelected]=true>New section</option>
      <option class="article-form__option" *ngFor="let group of availableGroups" [value]="group.group">
        {{ group.group }}
      </option>
    </select>
    <input class="article-form__input" [formControlName]="FIELDS.NEW_GROUP"
           *ngIf="selectedGroupFormControl.value === ''" type="text"
           placeholder="Section"/>
  </div>
  <div class="article-form__group">
    <label class="article-form__label">Subsection</label>
    <select class="article-form__select" [formControlName]="FIELDS.SELECTED_SUB_GROUP">
      <option class="article-form__option" value="" [defaultSelected]=true>New subsection</option>
      <option class="article-form__option" *ngFor="let subGroup of filteredSubGroups" [value]="subGroup.subGroup">
        {{ subGroup.subGroup }}
      </option>
    </select>
    <input class="article-form__input" *ngIf="selectedSubGroupFormControl.value === ''"
           [formControlName]="FIELDS.NEW_SUB_GROUP" type="text" placeholder="Subsection"/>
  </div>
  <div class="article-form__group">
    <input class="article-form__input article-form__group-title" [formControlName]="FIELDS.TITLE"
           placeholder="Заголовок" type="text"/>
  </div>
  <div class="article-form__group article-form__textarea-controls">
    <button class="article-form__textarea-controls-bold-button"
            [ngClass]="{'article-form__textarea-bold-controls-clicked': isBoldText }" type="button"
            (click)="insertTag('<b>', '</b>')">
      <b>B</b>
    </button>
    <button class="article-form__textarea-controls-code-button"
            [ngClass]="{'article-form__textarea-bold-controls-clicked': isBoldText }" type="button"
            (click)="insertTag('<pre><code>', '</code></pre>')">
      <b>Code</b>
    </button>
    <input class="article-form__input article-form__input-url" [formControlName]="FIELDS.IMAGE_URL" type="text"
           placeholder="URL картинки"/>
    <button class="article-form__textarea-controls-button"
            type="button"
            (click)="insertIMG()">
      <b>Add pic</b>
    </button>
  </div>
  <div class="article-form__group">
    <textarea #textarea
              class="article-form__textarea"
              [formControlName]="FIELDS.CONTENT"
              cdkTextareaAutosize
              placeholder="Содержание"
              (input)="updateCursorPosition()"
              (click)="updateCursorPosition()"
              (keyup)="updateCursorPosition()">
    </textarea>
    <div *ngIf="!ignoreHtmlFormControl.value" class="article-form__textarea"
         [innerHTML]="contentFormControl.value | safehtml"></div>
    <div *ngIf="ignoreHtmlFormControl.value" class="article-form__textarea">{{ contentFormControl.value  }}</div>
  </div>
  <mat-checkbox class="article-form__checkbox" color="primary" [formControlName]="FIELDS.IGNORE_HTML">Don't parse HTML
  </mat-checkbox>
  <p>
    <button class="article-form__submit-button" *ngIf="!isEditMode" (click)="addArticle()">Добавить</button>
  </p>
  <p>
    <button class="article-form__submit-button" *ngIf="isEditMode" (click)="addArticle()">Обновить</button>
  </p>
</form>
<button class="article-form__submit-button form-open-button" [ngClass]="{'background-blue': formVisible}"
        (click)="toggleForm()">{{ formVisible ? 'X' : '+' }}
</button>
