<div class="article-form" *ngIf="formVisible">
  <div class="article-form__group">
    <label class="article-form__label">Section</label>
    <select [(ngModel)]="newArticle.group" (change)="filterSubGroups()" class="article-form__select">
      <option *ngFor="let group of availableGroups" [value]="group.group"
              class="article-form__option">{{ group.group }}
      </option>
      <option value="" class="article-form__option">New section</option>
    </select>
    <input class="article-form__input" *ngIf="newArticle.group === ''" type="text" [(ngModel)]="newGroupName"
           placeholder="Section"/>
  </div>
  <div class="article-form__group">
    <label class="article-form__label">Subsection</label>
    <select [(ngModel)]="newArticle.subGroup" class="article-form__select">
      <option *ngFor="let subGroup of filteredSubGroups" [value]="subGroup.subGroup"
              class="article-form__option">{{ subGroup.subGroup }}
      </option>
      <option value="" class="article-form__option">New subsection</option>
    </select>
    <input *ngIf="newArticle.subGroup === ''" type="text" [(ngModel)]="newSubGroupName" placeholder="Subsection"
           class="article-form__input"/>
  </div>
  <div class="article-form__group">
    <input class="article-form__input article-form__group-title" placeholder="Заголовок" type="text" [(ngModel)]="newArticle.title"/>
  </div>
  <div class="article-form__group article-form__textarea-controls">
    <button class="article-form__textarea-controls-bold-button"
            [ngClass]="{'article-form__textarea-bold-controls-clicked': isBoldText }" type="button"
            (click)="insertBoldTag()">
      <b>B</b>
    </button>
      <input type="text" placeholder="URL картинки" [(ngModel)]="imageUrlInput" class="article-form__input article-form__input-url"/>
    <button class="article-form__textarea-controls-button"
            type="button"
            (click)="insertIMG()">
      <b>Add pic</b>
    </button>
  </div>
  <div class="article-form__group">
    <textarea #textarea
              class="article-form__textarea"
              cdkTextareaAutosize
              placeholder="Содержание"
              [(ngModel)]="newArticle.content"
              (input)="updateCursorPosition()"
              (click)="updateCursorPosition()"
              (keyup)="updateCursorPosition()">
    </textarea>
    <div *ngIf="!newArticle.ignoreHtml" class="article-form__textarea" [innerHTML]="newArticle.content | safehtml"></div>
    <div *ngIf="newArticle.ignoreHtml" class="article-form__textarea">{{ newArticle.content }}</div>
  </div>
  <mat-checkbox class="article-form__checkbox" color="primary" [(ngModel)]="newArticle.ignoreHtml">Don't parse HTML</mat-checkbox>
  <p><button class="article-form__submit-button" (click)="addArticle()">Добавить</button></p>
</div>
<button class="article-form__submit-button form-open-button" [ngClass]="{'background-blue': formVisible}" (click)="toggleForm()">{{formVisible ? 'X' : '+' }}</button>
