<div class="article-list__iframe">
  <button class="article-list__search-button" *ngIf="!iframeVisible" (click)="iframeVisible = true">
    <i class="fa fa-music"></i></button>
  <iframe *ngIf="iframeVisible"
          class="article-list__iframe-window" src="https://www.youtube.com/embed/jfKfPfyJRdk?si=R4tvGMMYFSLp1__J"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="article-list">
  <button class="article-list__search-button" *ngIf="!searchVisible" (click)="searchVisible = true">
    <i class="fa fa-search"></i></button>
  <div class="article-list__search-container" *ngIf="searchVisible">
    <input placeholder="Search article" class="article-list__search-input" type="text" [(ngModel)]="searchInput">
    <button class="article-list__search-button" (click)="_searchArticles()"><i class="fa fa-search"></i></button>
    <button class="article-list__search-button" (click)="_cancelSearch()">Cancel</button>
    <mat-checkbox class="article-list__search-checkbox" color="primary" [(ngModel)]="searchByContent">
      Search by content
    </mat-checkbox>
  </div>

  <mat-spinner class="article-list__spinner" *ngIf="isLoading" diameter="150"></mat-spinner>
  <div *ngIf="!isLoading">
    <div *ngIf="foundArticles.length === 0">
      <div class="article-list__group" *ngFor="let group of availableGroups">
        <app-article-group [group]=group
                           [articles]="articles"
                           [availableGroups]="availableGroups"
                           [availableSubGroups]="availableSubGroups"
                           (articleDeleted)="deleteArticle($event)"
                           (groupDeleted)="deleteGroup($event)"
                           (articleUpdated)="updateArticle($event)">
        </app-article-group>
      </div>
    </div>
    <div *ngIf="foundArticles.length > 0">
      <div class="article-list__group" *ngFor="let foundArticle of foundArticles">
        <app-article-item [article]="foundArticle"
                          [availableGroups]="availableGroups"
                          [availableSubGroups]="availableSubGroups"
                          (articleDeleted)="deleteArticle($event)"
                          (articleUpdated)="updateArticle($event)">>
        </app-article-item>
      </div>
    </div>
  </div>
</div>
<button class="article-list__toggle-button" (click)="closeAllGroups()">Свернуть всё</button>
