.article-list {
  position: relative;
  padding: 10px;
  min-height: 90vh;
  margin-left: 15%;
  margin-right: 12%;
  border: 0.8px solid rgb(61, 68, 77);
  border-radius: 6px;

  &__iframe {
    position: fixed;
    margin-left: 1vw;
    top: 30vh;
  }

  &__iframe-window {
    width: 10vw;
    height: 15vh;
    min-height: 110px;
  }

  &__search-button {
    background-color: #022F77;
    color: #ffffff;
    box-shadow: 0 1px 1px 0 #01040999, 0 1px 3px 0 #01040999;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    min-height: 2rem;
    cursor: pointer;
    height: 6vh;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 0.5vw;
    padding: 0.8vh 1vw;
    width: auto;
  }

  &__search-input {
    field-sizing: content;
    max-width: 35vw;
    border: none;
    border-radius: 5px;
    padding: 0.8vh 1vw;
    margin-left: 8px;
    height: 6vh;
    font-size: 1.2rem;
    line-height: 2.4rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  ::ng-deep &__search-checkbox .mdc-form-field {
    color: #fff;
  }

  &__spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__toggle-button {
    position: fixed;
    bottom: 1%;
    right: 3%;
    box-shadow: 0 1px 1px 0 #01040999, 0 1px 3px 0 #01040999;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    min-height: 2rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 20px;
    padding: calc(.875rem - 1px) calc(1rem - 1px);
    width: auto;
    background-color: #388bfd1a;
    color: #4493f8;
  }
}
