<div class="article-group">
  <button class="article-group__group-delete" (click)="sureButtonsArray[0]=true">Delete section</button>
  <button class="article-group__group-delete" *ngIf="sureButtonsArray[0] && checkCanBeDeleted()"
          (click)="sureButtonsArray[1]=true">Sure?
  </button>
  <button class="article-group__group-delete" *ngIf="sureButtonsArray[1]" (click)="sureButtonsArray[2]=true">Sure?Sure?
  </button>
  <button class="article-group__group-delete" *ngIf="sureButtonsArray[2]" (click)="sureButtonsArray[3]=true">
    Sure?Sure?Sure?
  </button>
  <button class="article-group__group-delete" *ngIf="sureButtonsArray[3]" (click)="deleteGroup({group})">
    Sure?Sure?Sure?Sure?Sure?
  </button>
  <h3 class="article-group__group-title" (click)="toggleGroup(group)">
    {{ group.group }}
  </h3>
  <div *ngIf="isGroupVisible(group)" class="article-group__group-list">
    <div *ngIf="group.subGroups[0].subGroup === 'empty'">
      @for (article of group.subGroups[0].articles; track article) {
        <app-article-item [article]="article" [availableGroups]="availableGroups"
                          (articleDeleted)="deleteArticle($event)"
                          (articleUpdated)="updateArticle($event)">>
        </app-article-item>
      }
    </div>
    <div *ngIf="group.subGroups[0].subGroup !== 'empty'">
    <div *ngFor="let subGroup of group.subGroups" class="article-group__article">
      <app-article-sub-group
        [subGroup]=subGroup
        [articles]="articles"
        [availableGroups]="availableGroups"
        (articleDeleted)="deleteArticle($event)"
        (groupDeleted)="deleteGroup($event)"
        (articleUpdated)="updateArticle($event)">
      </app-article-sub-group>
    </div>
    </div>
  </div>
</div>
