.article {
  &__title {
    cursor: pointer;
    border-bottom: 0.8px solid rgb(61, 68, 77);
    padding-left: 3rem;
  }

  &__text {
    white-space: pre-wrap;
  }

  &__content {
    padding-left: 4.5rem;
  }

  &__edit, &__delete {
    background-color: #cf2e2e;
    color: #ffffff;
    box-shadow: 0 1px 1px 0 #01040999, 0 1px 3px 0 #01040999;
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
    min-height: 2rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-left: 20px;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    width: auto;
  }

  &__edit {
    background-color: #388bfd1a;
    color: #4493f8;
  }
}
