<div class="article-sub-group">
  <button class="article-sub-group__group-delete" (click)="sureButtonsArray[0]=true">Delete subsection</button>
  <button class="article-sub-group__group-delete" *ngIf="sureButtonsArray[0] && checkCanBeDeleted()" (click)="sureButtonsArray[1]=true">Sure?</button>
  <button class="article-sub-group__group-delete" *ngIf="sureButtonsArray[1]" (click)="sureButtonsArray[2]=true">Sure?Sure?
  </button>
  <button class="article-sub-group__group-delete" *ngIf="sureButtonsArray[2]" (click)="sureButtonsArray[3]=true">
    Sure?Sure?Sure?
  </button>
  <button class="article-sub-group__group-delete" *ngIf="sureButtonsArray[3]"
          (click)="deleteGroup({group: null, subGroup: subGroup})">
    Sure?Sure?Sure?Sure?Sure?
  </button>
  <h3 class="article-sub-group__group-title" (click)="toggleSubGroup()">
    {{ subGroup.subGroup }}
  </h3>
  <div *ngIf="isSubGroupVisible(subGroup)" class="article-sub-group__group-list">
    <div cdkDropList class="article-sub-group__group-list" (cdkDropListDropped)="drop($event)">
      @for (article of subGroup.articles; track article) {
        <app-article-item [article]="article"
                          [availableGroups]="availableGroups"
                          [availableSubGroups]="availableSubGroups"
                          (articleDeleted)="deleteArticle($event)"
                          (articleUpdated)="updateArticle($event)">>
        </app-article-item>
      }
    </div>

  </div>
</div>
